<h2 mat-dialog-title>Player Info</h2>

<mat-dialog-content>
    <div>
        <h3>{{data.name}} </h3>
        <p>Position: {{data.position}}, Age: {{data.age}}</p>
        <p>Notes: {{data.note}}</p>
        <p>KeyStats: </p>
        <span *ngFor="let keystat of data.keystats">
            <p>{{keystat.stat}}: {{keystat.value}}</p>
        </span>
    </div>    
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="playerStats()">Get Player Stats</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
