<mat-toolbar class="mat-toolbar">
   <mat-toolbar-row>
     My Work:&nbsp;&nbsp;
       <div style="border: 1px solid whitesmoke ">
         <a routerLink="/home">&nbsp;Site-Home&nbsp;</a>
         <a routerLink="/project">&nbsp;Project-History&nbsp;</a>
       </div>
   </mat-toolbar-row>
 </mat-toolbar>
 <div flex layout="row">
   <div layout="column" flex>
     <div class="box1">
      <span>
        <p>Providing web apps, services & database feature development for various businesses.</p>
        <p>
          <br/>
          <strong>Check out my pro links: </strong>
            <ng-template  ngFor let-sitelink [ngForOf]="sitelinks">
               <a href={{sitelink.sitelink}}>{{sitelink.sitename}} &nbsp; </a>
            </ng-template>
        </p>
      </span>
      <span>
        <p><span type='tel'>{{phone}}</span></p>
        <p>{{email}}</p>
      </span>
       <img class="main-img" mat-card-image src="../../assets/images/dilbert.png" />
     </div>
     <div class="box2">
       <mat-card flex="100" layout-margin layout-padding layout-align="center stretch" >
         <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title>The Site</mat-card-title>
           <mat-card-subtitle>IT Project Work</mat-card-subtitle>
         </mat-card-header>
           <img class="main-img" mat-card-image src="../../assets/images/undercon.png" />
         <mat-card-content>
         </mat-card-content>
       </mat-card>
     </div>
     <div class="box3">
       All rights reserved Brian Quinn
     </div>
   </div>
 </div>