<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>   
    Colts By Numbers:&nbsp;&nbsp;     
    <div style="border: 1px solid whitesmoke ">
      <a routerLink="/home">&nbsp;Home&nbsp;</a>    
      <a routerLink="/team">&nbsp;Team&nbsp;</a>  
      <a routerLink="/player/offense">&nbsp;Player-Offense&nbsp;</a>  
      <a routerLink="/player/defense">&nbsp;Player-Defense&nbsp;</a>  
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div flex layout="row">  
  <div layout="column" flex>
    <div class="box1">
      <div class="container">
        <h3>&nbsp;&nbsp;Players To Watch</h3>                  
        <table mat-table class="mat-elevation-z8">      
          <th mat-header-cell> Name </th> 
          <th mat-header-cell> Position </th>
          <th mat-header-cell> Info </th>
          <tr mat-row *ngFor="let player of players">
            <td mat-cell>{{player.name}}</td>
            <td mat-cell>{{player.position}}</td>
            <td mat-cell><a (click)="onInfoClick(player)">
              <img  src="../../../assets/images/icons8-info.svg" /></a>
            </td>            
          </tr>       
        </table>      
      </div> 
      <div class="contaner">
        <mat-card flex="100" layout-margin layout-padding layout-align="center stretch" >
          <img class="main-img" mat-card-image style="width: 200px; height: 200px;" src="../../assets/images/dleonard.jpg" />
        </mat-card>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Top Numbers</h3>  
        <table mat-table class="mat-elevation-z8"> 
          <th mat-header-cell> Name </th> 
          <th mat-header-cell> Position </th>
          <th mat-header-cell> Info </th>
          <tr mat-row *ngFor="let top of tops">
            <td mat-cell>{{top.name}}</td>
            <td mat-cell>{{top.position}}</td>
            <td mat-cell><a (click)="onInfoClick(top)">
              <img  src="../../../assets/images/icons8-info.svg" /></a>
            </td>            
          </tr>
        </table>      
      </div>
      <div class="container">
        <mat-card flex="100" layout-margin layout-padding layout-align="center stretch" >
          <img class="main-img" mat-card-image style="width: 200px; height: 200px;" src="../../assets/images/qnelson.jpg" />
        </mat-card>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Rookie Watch</h3>  
        <table mat-table class="mat-elevation-z8">  
          <th mat-header-cell> Name </th> 
          <th mat-header-cell> Position </th>
          <th mat-header-cell> Info </th>
          <tr mat-row *ngFor="let rookie of rookies">
            <td mat-cell>{{rookie.name}}</td>
            <td mat-cell>{{rookie.position}}</td>
            <td mat-cell><a (click)="onInfoClick(rookie)">
              <img  src="../../../assets/images/icons8-info.svg" /></a>
            </td>            
          </tr>
        </table>
      </div>                              
    </div>
    <div class="box2">
      <div class="container">
        <h3>&nbsp;&nbsp;Players & Ratings</h3>     
        <p>
          Hey what's the difference between a passer rating and a QBR? 
          Check out the math here ...
           <a style="color: black; font-weight: bold;" href="https://medium.com/@gzil/how-to-calculate-nfl-passer-rating-using-a-formula-in-excel-or-google-sheets-54eb07246d1e">Calculate Passer Rating</a>
          <br/>
          Colts fans are wondering just what kind of numbers QB Phillip Rivers will
          put up this year. 2019 overall numbers not so great for our fearless
          leader. He did finish 4th overall in passing yards with a whopping 4,615.
          Had 23 TDs (15th) to 20 INT (30th) ... yikes and a QBR of 48.6 (22nd).
          If Frank Reich's system works along with one of the best offensive lines
          in the NFL Rivers overall numbers should vastly improve. Even if the 
          passing yards come down due to the rushing weapons the Colts have.
          4000+ total yards again?  Maybe...or maybe not. 
        </p>        
        <ng-image-slider #nav          
        [images]="imageObject"
        [imageSize]="{width: '25%', height: 200}" 
        [infinite]="false"
        [autoSlide]="1"
        slideImage="1"
        >   
        </ng-image-slider>
      </div>
    </div>
    <div class="box3">
      All rights reserved Brian Quinn
    </div>
  </div>
</div>
        

