<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>   
    Colts By Numbers:&nbsp;&nbsp;     
    <div style="border: 1px solid whitesmoke ">
      <a routerLink="/home">&nbsp;Home&nbsp;</a>    
      <a routerLink="/team">&nbsp;Team&nbsp;</a>  
      <a routerLink="/player/offense">&nbsp;Player-Offense&nbsp;</a>  
      <a routerLink="/player/defense">&nbsp;Player-Defense&nbsp;</a>  
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div flex layout="row">  
  <div layout="column" flex>
    <div class="box1">
      <div class="container">
        <h3>&nbsp;&nbsp;Players To Watch</h3>                  
        <table mat-table class="mat-elevation-z8">      
          <th mat-header-cell> Name </th> 
          <th mat-header-cell> Position </th>
          <th mat-header-cell> Info </th>
          <tr mat-row *ngFor="let player of players">
            <td mat-cell>{{player.name}}</td>
            <td mat-cell>{{player.position}}</td>
            <td mat-cell><a (click)="onInfoClick(player)">
              <img  src="../../../assets/images/icons8-info.svg" /></a>
            </td>            
          </tr>       
        </table>      
      </div> 
      <div class="contaner">
        <mat-card flex="100" layout-margin layout-padding layout-align="center stretch" >
          <img class="main-img" mat-card-image style="width: 200px; height: 200px;" src="../../assets/images/dleonard.jpg" />
        </mat-card>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Top Numbers</h3>  
        <table mat-table class="mat-elevation-z8"> 
          <th mat-header-cell> Name </th> 
          <th mat-header-cell> Position </th>
          <th mat-header-cell> Info </th>
          <tr mat-row *ngFor="let top of tops">
            <td mat-cell>{{top.name}}</td>
            <td mat-cell>{{top.position}}</td>
            <td mat-cell><a (click)="onInfoClick(top)">
              <img  src="../../../assets/images/icons8-info.svg" /></a>
            </td>            
          </tr>
        </table>      
      </div>
      <div class="container">
        <mat-card flex="100" layout-margin layout-padding layout-align="center stretch" >
          <img class="main-img" mat-card-image style="width: 200px; height: 200px;" src="../../assets/images/qnelson.jpg" />
        </mat-card>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Rookie Watch</h3>  
        <table mat-table class="mat-elevation-z8">  
          <th mat-header-cell> Name </th> 
          <th mat-header-cell> Position </th>
          <th mat-header-cell> Info </th>
          <tr mat-row *ngFor="let rookie of rookies">
            <td mat-cell>{{rookie.name}}</td>
            <td mat-cell>{{rookie.position}}</td>
            <td mat-cell><a (click)="onInfoClick(rookie)">
              <img  src="../../../assets/images/icons8-info.svg" /></a>
            </td>            
          </tr>
        </table>
      </div>                              
    </div>
    <div class="box2">
      <div class="container">
        <h3>&nbsp;&nbsp;Rivers Walk</h3>     
        <p>            
          288... yards passing. Rivers lifts the offense against the Packers.  
        </p>        
        <ng-image-slider #nav          
        [images]="imageObject"
        [imageSize]="{width: '25%', height: 200}" 
        [infinite]="false"
        [autoSlide]="1"
        slideImage="1"
        >   
        </ng-image-slider>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Players Table</h3>  
        <p>
          90... rushing yards for Jonathan Taylor plus 24 receiving against the Packers. 
          <br/>   
          <br/> 
          11... Michael Pittman gets his first NFL TD against the Packers. 
          <br/>   
          <br/>
          1... Forced Fumble a big one, game changer. Julian Blackmon against the Packers. 
          <br/>   
          <br/>   
          3... Rodrigo (Hot Rod) Blackenship AFC Special Teams Player of the Week.  
          <br/>   
          <br/> 
          384... yards. Colts season leading WR Zach Pascal.  
          <br/>   
          <br/>                
        </p> 
      </div>
    </div>
    <div class="box3">
      All rights reserved Brian Quinn
    </div>
  </div>
</div>
        

