<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>   
      Colts By Numbers:&nbsp;&nbsp;     
      <div style="border: 1px solid whitesmoke ">
        <a routerLink="/home">&nbsp;Home&nbsp;</a> 
        <a routerLink="/player">&nbsp;Players&nbsp;</a>
        <a routerLink="/team/offense">&nbsp;Team-Offensive&nbsp;</a>
        <a routerLink="/team/defense">&nbsp;Team-Defensive&nbsp;</a>            
      </div>
    </mat-toolbar-row>
</mat-toolbar> 
<div flex class="row" layout="row">    
    <div layout="column" flex>
        <div class="box1">       
            <mat-tab-group headerPosition="below">
              <mat-tab class="myTab" label="Team Trending">
                <div class="myTabContent">
                  <h3>Team Numbers Trending:</h3>
                  <p>
                    7th... seed in the AFC playoffs. Shuffle off to Buffalo. 
                    <br/>                                                 
                  </p>
                </div>            
              </mat-tab>
              <mat-tab label="Team Stats"> 
                <div class="myTabContent">
                  <h3>Team Stats Notes</h3>
                  <p>
                    9th... in the NFL in offensive scoring at 28.2 PPG                               
                    <br/>
                    10th... in the NFL in offensive yards per game at 378.1                               
                    <br/>  
                    2nd... in the NFL in defensive opponent rushing at 1448 with 3.7 YPC                               
                    <br/>   
                    8th... in the NFL in defensive opponent YPG at 332.1                               
                    <br/>                                   
                  </p>       
                </div>  
              </mat-tab>
              <mat-tab label="Team Bonus"> 
                <div flex="100" class="myTabContent">
                  <h3>Bonus Stat</h3>
                  <p>
                    0... times have the Colts and Bills ever met in a playoff game. 
                    <br/>
                    17th... ranked rushing defense for Buffalo with 119.6 YPG  
                    <br/>

                  </p> 
                </div>  
              </mat-tab>
            </mat-tab-group>           
        </div>
        <div class="box2">
          <div class="container">
            <h3>&nbsp;&nbsp;Team Ratings & Rankings</h3>     
            <p>
              Colts had a well balanced team and in NFL ratings finished top 10 in many categories.             
              <br/><br/>
              How did the Colts stack up on offense to division rivals in 2020? 
              <br/>
              They finished 2nd in passing behind the Texans and rushing behind the Titans.
            </p>
            <div style="width: 100%; height: 600px; align-content: center; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav          
                [images]="imageObject"
                [imageSize]="{width: '40%', height: 250}" 
                [infinite]="false"
                [autoSlide]="1"
                slideImage="1"
              >   
              </ng-image-slider>
            </div>            
          </div>
        </div>
        <div class="box3">
            All rights reserved Brian Quinn
          </div>
    </div>
  </div>
   
  
  
  
  
