a {
    color: white;
}

div {
  border: 2px solid darkblue;
}

h3 {
  font-weight: bold;
  background-color: lightgray;
}

p {
  font-family: 'Open Sans', sans-serif;
} 

.container {
    margin: .5%;
    background-color: rgb(82, 76, 76);
    flex-flow: row;
    align-self: center;    
}

.card {
    background-color: rgb(50, 50, 196);
    color: white;
    flex-flow: row;
    align-items: center;
    margin: .5%;
}

.box3, .box2, .box1 {  
  display:flex;
  box-sizing: border-box;
  max-width:100%;
  max-height: 100%;  
}

.box1 {  
    max-height:75%;
    min-height: 35%;
    flex:1 1 75%;
    background-color:  rgb(50, 50, 196);  
}

.box2 {    
    max-height:75%;
    min-height: 65%;
    flex:1 1 75%; 
    background-color: white; 
}

.container {
  background-color: white;
}

.box3 {  
  max-height:5%;
  flex:1 1 5%;
}

.myTab {
    background-color: darkgrey;
    color: black;
    border-color: black;
  }
  
  .myTabContent {
    background-color: white;
    color: black;
    margin: 1%;
    padding: .5%
  }
  
  :host ::ng-deep .mat-tab-label-active {
    border-width: .5%;
    border-style: solid;
    border-color: white;
  }

  .links-button-row {
    display: table-cell;
    width: 490px;
  }
  

