<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>   
      Colts By Numbers:&nbsp;&nbsp;     
      <div style="border: 1px solid whitesmoke ">
        <a routerLink="/home">&nbsp;Home&nbsp;</a> 
        <a routerLink="/player">&nbsp;Players&nbsp;</a>
        <a routerLink="/team/offense">&nbsp;Team-Offensive&nbsp;</a>
        <a routerLink="/team/defense">&nbsp;Team-Defensive&nbsp;</a>            
      </div>
    </mat-toolbar-row>
</mat-toolbar> 
<div flex class="row" layout="row">    
    <div layout="column" flex>
        <div class="box1">       
            <mat-tab-group headerPosition="below">
              <mat-tab class="myTab" label="Team Trending">
                <div class="myTabContent">
                  <h3>Team Numbers Trending:</h3>
                  <p>2nd... in the NFL in opponent avg points per game with 17.6                    
                  </p>
                </div>            
              </mat-tab>
              <mat-tab label="Team Stats"> 
                <div class="myTabContent">
                  <h3>Team Stats Notes</h3>
                  <p>
                     18th... in the NFL team passing yards per game at 244
                     <br/>
                     31st... in the NFL in yards per rush attempt with 3.6. Uh oh not good.
                  </p>       
                </div>  
              </mat-tab>
              <mat-tab label="Team Bonus"> 
                <div flex="100" class="myTabContent">
                  <h3>Bonus Stat</h3>
                  <p>
                    3rd... in the NFL in team opponent rushing yards per game at 86.4 ...                    
                    <br/>
                    <a style="color: black; font-weight: bold;" href="https://www.teamrankings.com/nfl/stat/yards-per-rush-attempt" >Team Rankings</a>
                  </p> 
                </div>  
              </mat-tab>
            </mat-tab-group>           
        </div>
        <div class="box2">
          <div class="container">
            <h3>&nbsp;&nbsp;Team Ratings & Rankings</h3>     
            <p>
              NFL Power Rankings vary depending on the site. On ESPN Colts fell to 14th.
              The run game is in bad shape. Check it out at  ...
              <a style="color: black; font-weight: bold;" href="https://www.espn.com/nfl/story/_/id/30095589/nfl-power-rankings-week-6-1-32-poll-plus-team-biggest-weakness" >ESPN.com Week 6 NFL Power Rankings </a>
              <br/><br/>
              How are the Colts stacking up to division rivals in 2020? We already know who leads in defense. 
              Check out the stats and projections.  
            </p>
            <div style="width: 100%; height: 600px; align-content: center; text-align:center;margin:0; padding:0;">
              <ng-image-slider #nav          
                [images]="imageObject"
                [imageSize]="{width: '40%', height: 250}" 
                [infinite]="false"
                [autoSlide]="1"
                slideImage="1"
              >   
              </ng-image-slider>
            </div>            
          </div>
        </div>
        <div class="box3">
            All rights reserved Brian Quinn
          </div>
    </div>
  </div>
   
  
  
  
  
