  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>     
      Colts By Numbers:&nbsp;&nbsp;   
        <div style="border: 1px solid whitesmoke ">
          <a routerLink="/team">&nbsp;Team&nbsp;</a>      
          <a routerLink="/player">&nbsp;Players&nbsp;</a>          
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div flex layout="row">  
    <div layout="column" flex>
      <div class="box1">       
        <mat-tab-group mat-stretch-tabs headerPosition="below">
          <mat-tab class="myTab" label="News">
            <div class="myTabContent">
              <h3>What's The Scoop!</h3>
              <p>
                *** Three Colts decided to opt out the season including Safety Marvell Tell. ***
                <br/>
                *** It's training camp time and you can get all the details by visitiing the Colts web site. *** 
              </p>
            </div>            
          </mat-tab>
          <mat-tab label="Fan Base"> 
            <div class="myTabContent">
              <h3>Say Hi To The Colts Fans Base!</h3>
              <p>                 
                Most Colts fans know of the official  
                <a style="color: black; font-weight: bold;" href="https://www.colts.com/">&nbsp;Colts Web Site</a>
                <br/>             
                There are also some great fan built sites and broadcasters out there. We will list them as we get them here. --- 
              </p>
            </div>  
          </mat-tab>
          <mat-tab label="About"> 
            <div class="myTabContent">
              <h3>Why Colts By Numbers?</h3>
              <p> I started this project to combine two 
                areas of interest. 
                <br/>Use the Python computer language and track
                Colts football.
                <br/>The NFL loves stats. Players, teams, 
                offense, defense and rankings. 
                <br/>I built the web UI in Angular
                Material with Flex and responsive design.                              
              </p> 
            </div>  
          </mat-tab>
        </mat-tab-group>
        <img class="main-img" mat-card-image src="../../assets/images/coltsshoe.jpg" />
                  
      </div>
      <div class="box2">
        <mat-card flex="100" layout-margin layout-padding layout-align="center stretch" >
          <mat-card-header>           
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>The Process</mat-card-title>
            <mat-card-subtitle>Players - Stats - Visuals</mat-card-subtitle>
          </mat-card-header>          
            <img class="main-img" mat-card-image src="../../assets/images/pRivers.jpg" />
            <img class="arrow-img" mat-card-image src="../../assets/images/rightBlueArrow.jpg" />
            <img class="main-img" mat-card-image src="../../assets/images/math.jpg" />
            <img class="arrow-img" mat-card-image src="../../assets/images/rightBlueArrow.jpg" />
            <img class="main-img" mat-card-image src="../../assets/images/graphs.png" />             
          <mat-card-content>
            <p>
              We take game stats and store them. Run some cool Python code
              using AI with statistical math calculations. Take the results and display
              them in awesome graphs. We share the numbers in Colts fanbase discussions.
            </p>
          </mat-card-content>
        </mat-card>               
      </div>
      <div class="box3">
        All rights reserved Brian Quinn
      </div>
    </div>
  </div>



 
  
